            @media (max-width: 2048px) {}
            
            @media (max-width: 1920px) {}
            
            @media (max-width: 1800px) {}
            
            @media (max-width: 1620px) {}
            
            @media (max-width: 1600px) {}
            
            @media (max-width: 1536px) {}
            
            @media (max-width: 1440px) {
                .slick-dots {
                    display: none !important;
                }
                .slick-arrow {
                    display: none !important;
                }
            }
            
            @media (max-width: 1200px) {
                .models {
                    .container {
                        max-width: 970px;
                    }
                }
            }
            
            @media (max-width: 1080px) {
                .menu {
                    order: 1;
                    margin-right: 50px;
                }
                .menu__inner-list {
                    display: none;
                    background-color: #232323;
                    position: absolute;
                    top: 0px;
                    left: -15px;
                    z-index: 1;
                    min-width: 120%;
                    padding-bottom: 30px;
                    height: 100vh;
                    padding-top: 100px;
                    padding-left: 20px;
                    a {
                        display: block;
                        text-align: left;
                        font-size: 30px;
                        line-height: 30px;
                    }
                    li {
                        display: block;
                        &+li {
                            margin-left: 0;
                            margin-top: 50px;
                        }
                    }
                }
                .menu__btn {
                    display: block;
                    width: 30px;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    top: 0;
                    left: 9px;
                    div {
                        background-color: #fff;
                        height: 3px;
                        &+div {
                            margin-top: 5px;
                        }
                    }
                }
                .aside__hidden {
                    max-width: 50%;
                }
                .main {
                    background-position: center;
                }
            }
            
            @media (max-width: 1024px) {}
            
            @media (max-width: 992px) {
                .container {
                    max-width: 750px;
                }
            }
            
            @media (max-width: 960px) {}
            
            @media (max-width: 900px) {}
            
            @media (max-width: 864px) {}
            
            @media (max-width: 800px) {}
            
            @media (max-width: 768px) {
                .slider__page-title {
                    font-size: 20px;
                    line-height: 20px;
                    padding-left: 10px;
                }
                .container {
                    max-width: none;
                }
                .slider__item {
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 230px;
                    width: 100%;
                    flex: 0 0 100px;
                    img {
                        width: 100%;
                    }
                }
            }
            
            @media (max-width: 720px) {
                .hero__inner-title {
                    @include f500;
                    font-size: 50px;
                    line-height: 50px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                .hero__inner-subtitle {
                    margin-bottom: 50px;
                }
                .hero__inner-order {
                    margin-bottom: 50px;
                }
                .header__inner {
                    margin-bottom: 30px;
                }
                .hero__inner {
                    flex-wrap: wrap;
                }
                .hero__social::before {
                    display: none;
                }
                .hero__social-list li {
                    display: inline-block;
                }
                .hero__social-list li+li {
                    margin-left: 20px;
                }
                .hero__social {
                    bottom: 0;
                }
                .aside__hidden-list li a {
                    font-size: 16px;
                }
                .aside__text {
                    margin-bottom: 250px;
                }
            }
            
            @media (max-width: 640px) {
                .aside__hidden.active {
                    max-width: 400px;
                    padding-left: 20px;
                }
                .aside__btn-row.active::after {
                    left: -240px;
                    top: 39px;
                }
                .aside__btn-row.active::before {
                    left: -240px;
                    top: 39px;
                }
                .aside__hidden-list {
                    li+li {
                        margin-top: 10px;
                    }
                }
            }
            
            @media (max-width: 600px) {}
            
            @media (max-width: 540px) {
                .hero__inner-title {
                    @include f300;
                    font-size: 30px;
                    line-height: 30px;
                }
            }
            
            @media (max-width: 480px) {
                .slider__content-list a {
                    font-size: 14px;
                    line-height: 14px;
                }
                .header__logo {
                    flex: 0 0 70px;
                }
                .header__logo img {
                    max-width: 100%;
                }
                .main {
                    background-position: center;
                }
                .hero__inner-order {
                    font-size: 16px;
                    line-height: 18px;
                    padding: 10px 20px;
                }
                .slider__content-list li {
                    border-right: 1px solid rgba(196, 196, 196, 0.05);
                    border-top: 1px solid rgba(196, 196, 196, 0.05);
                    border-left: none;
                    border-bottom: none;
                    padding: 5px;
                }
                .slider__content-item {
                    display: inline-block;
                    max-width: 112px;
                    width: 100%;
                    .speed::after {
                        display: none;
                    }
                    .more::after {
                        display: none;
                    }
                    .distance::after {
                        display: none;
                    }
                    .people::after {
                        display: none;
                    }
                }
                .slider__content-item .speed::after {
                    left: 0;
                }
                .slider__content-title {
                    font-size: 20px;
                    line-height: 20px;
                    @include f300;
                    max-width: 230px;
                    span {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
                .slider__content-subtitle {
                    font-size: 16px;
                    line-height: 16px;
                    max-width: 230px;
                }
                .slider__content-order {
                    padding: 10px 37px;
                    font-size: 16px;
                    line-height: 16px;
                }
                .slider__content-models {
                    padding: 9px 60px;
                    font-size: 16px;
                    line-height: 16px;
                    @include f300;
                }
                .aside__btn-row {
                    top: 44px;
                    left: 7px;
                }
            }
            
            @media (max-width: 360px) {}
            
            @media (max-width: 320px) {}